:root {
  --backgroundbox: purple;
  --background: pink;

  --basic-shadow: 0px 3px 5px rgba(15, 14, 14, 0.733);
}

.main-optima-page {
  background-color: white
}


.optima-section-top-container{
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-areas : 
  'main-section'
  'boxes';
}

.optima-section-main {
  grid-area : main-section;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

.boxes {
  display:grid;   
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.box {
  background:var(--backgroundbox);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--basic-shadow);
  margin : 20px;
  color: black;
}

.box p {
  font-size: large;
  color : pink;
}

.box h1 {
  background: pink;
}


button {
  text-align: center;	

  background-color: pink;
  color:purple;
  text-decoration: none;
  border : 2px solid black;
  font-size: medium;
  padding: 3px;
    border-radius: 10px;
  font-family: var(--main-font-fmaily);
    margin : 10px;
    white-space: nowrap;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer; 
}

button:hover {
  background-color:purple;
  color:pink;
  text-decoration: none;
  }


.default-button {
  text-align: center;	
background-color: purple;
color:pink;
text-decoration: none;
border : 2px solid black;
font-size: medium;
padding: 3px;
  border-radius: 10px;
font-family: var(--main-font-fmaily);
  margin : 10px;
  white-space: nowrap;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.default-button:hover {
  background-color:pink;
color:purple;
text-decoration: none;
}




.button-wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
}




.mainCreate {
  margin-top: 30px; 
  display: grid;
  align-items:center;
  justify-content:center; 
}

.top-container-forms
{
    grid-template-areas: 
    '. create-form .'
}

.create-form {
  grid-area : create-form;
  margin-bottom: 15px;
  box-shadow: var(--basic-shadow);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: solid 1px purple ;
}

.create-form h1 {
  color: purple;
  text-shadow: 1px 2px pink;
}


.container-page-full {
  display:grid;
  grid-gap: 20px;
}

.container-view-contents-boxes {
  display:grid;   
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.box-of-content {
  box-shadow: var(--basic-shadow);
  background: var(--background);
  text-align: center;
  padding: 1.5rem 2rem;
 border: 1px solid purple;
  margin : 20px;
  color: purple;
  max-width: 800px;
}

.form-group-create h5 {
  color : purple;

}

.view-details
{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    '. account-details .'
}




.top-level-page-main {
  align-items: center;
  justify-content: center;
}
.account-details{
  grid-area : account-details;
  margin-bottom: 15px;
  border: 0.5px solid pink;
  opacity: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}

.card-group-field {
  width: 370px;
  /* height: 45px; */
  margin: 10px;
  color: purple;
  border: 0.5px solid pink;
  padding: 5px;
  text-align: center;
}


.card-group-field h3 {
  color: blue;
  font-size: medium;
}

